<!doctype html>
<html>
<head>
  <title>前后端分离的跨域请求</title>
</head>
<body>

<h1>前后端分离的跨域请求</h1>

{% if message: %}
<h3>Your message:</h3>
<div>{{message}}</div>
{% endif %}

<form method="POST" action='http://test.localhost.api.eyedmp.com/'>
  <textarea name="message" placeholder="Enter message..."></textarea>
  <button type="submit">Submit</button>
</form>

<form method="POST" action='http://test.localhost.api.eyedmp.com/login'>
  <textarea name="username" placeholder="Enter message..."></textarea>
  <button type="submit">Login</button>
</form>

<div>
  <button id='login' type="submit">Login</button>
</div>
<div>
  <button id='hello' type="submit">Hello</button>
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  // This script is forbidden
  console.log("Oh no, this should not have run!!")
</script>

<script nonce="">
  // This one isn't
  console.log("Yay, nonce allowed to run this.")
  navigator.geolocation.getCurrentPosition(function(position) {
    console.log('Oh no, geolocation access should be denied');
  });

$("#hello").click(function(){
    $.ajax({
        type: "post", 
        url: "http://test.localhost.api.eyedmp.com/hello",
        async: true,
        data: {},
        dataType: 'json',
        //xhrFields: {
            //withCredentials: true // 发送Ajax时，Request header中会带上 Cookie 信息。
        //},
        //crossDomain: true, // 发送Ajax时，Request header 中会包含跨域的额外信息，但不会含cookie（作用不明，不会影响请求头的携带）
        success: function(data) {
            console.log(data);
        }
    });
});

$("#login").click(function(){
    $.ajax({
        type: "post", 
        url: "http://test.localhost.api.eyedmp.com/login",
        async: true,
        data: {},
        dataType: 'json',
        xhrFields: {
            withCredentials: true // 发送Ajax时，Request header中会带上 Cookie 信息。
        },
        crossDomain: true, // 发送Ajax时，Request header 中会包含跨域的额外信息，但不会含cookie（作用不明，不会影响请求头的携带）
        success: function(data) {
            console.log(data);
        }
    });
});
</script>

</body>
</html>
