[Desktop Entry]
Type=Application
Exec=/usr/bin/chromium-browser
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[zh_CN]=Chrome
Name=Chrome
Comment[zh_CN]=
Comment=
